<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

<title>Signin Template for Bootstrap</title>

<!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sign-in/"> -->

<link rel="stylesheet" type="text/css" href="../static/css/signin.css" th:href="@{/css/signin.css}" />
<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/css/bootstrap.min.css"
	th:src="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script src="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>

</head>

<body class="text-center">
	<form class="form-signin" th:action="@{/login}" method="post" >
		<img class="mb-4" th:src="@{/img/fortress.png}" alt="" width="100px" height="auto">
		
		<h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
		
		<label for="username" class="sr-only">Usuario o correo electrónico</label> 
		<input type="text" id="username" name="username" class="form-control" placeholder="Usuario o correo electrónico" required	autofocus> 
		<label for="password" class="sr-only">Contraseña</label>
		<input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>		
		<div class="checkbox mb-3">
			<label> <input type="checkbox" name="remember-me"> Recordarme </label>
		</div>
		
		<button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar</button>
		
		<p class="mt-5 mb-3 text-muted">Frouxeira Stronghold &copy;2020 </p>
		<p class="text-muted">OAuth2 Server </p>
	</form>
</body>
</html>